.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.obtn{
  background-color: #FB6B0E; /* Green */
  border: none;
  color: white;
  padding: 0.7rem 1.1rem 0.7rem 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.7rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-family: Inter, serif;
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  transition: background-color 0.5s, color 0.5s;
  font-weight: bold;
}

.obtn:hover{
  background-color: #ff5900;
}

.bbtn{
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-family: Inter, serif;
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  transition: background-color 0.5s, color 0.5s;
  font-weight: bold;
}

.bbtn:hover{
  background-color: black;
  color: white;
}

.img-fluid{
  margin-top: 10rem;
  width: 25rem;
  margin-left: 10rem;
}

.alog{
  margin-top: 8rem;
  padding-right: 7rem;
}

.welcome-container {
  text-align: center;
  font-size: 5rem;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.welcome-container>h1 {
  font-size: 5rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

/* SalesDetails.css */

/* SalesDetails.css */

.sales-details {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Adjust column widths as needed */
  grid-row-gap: 1em;
  margin-bottom: 1em;
  border: 2px solid #ccc; /* Add border to the entire sales details container */
  padding: 1em; /* Add padding for better visual appearance */
}

.sales-label {
  font-weight: bold;
  border-bottom: 3px solid #ccc; /* Add border below each label */
  padding-bottom: 0.5em; /* Add space between label and value */
  margin-bottom: 0.5em; /* Add space between label-value pairs */
}

.sales-value {
  margin-top: 0.5em;
}

